th{
  color:white;
  background-color:darkgreen;
}

tr:nth-child(even) {
  background:lightgray;
}

h2{
  color:darkorange;
}
tr:hover{
  background-color: aquamarine;
}
img{
  width: 110px;
  height: 110px;
  vertical-align: middle;
}

img:hover{
  width:140px;
  height: 140px;
  vertical-align: middle;
}
